/* Общие стили */
body {
    font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
}

/* Шапка сайта */
header {
    background-color: #eb7e7e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

/* Основное содержание */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    max-width: 400px; 
    padding: 20px; 
    background-color: #f3dada; 
    border: 1px solid #f7a7a7; 
    border-radius: 5px; 
    max-width: 100%;
}


input:focus, textarea:focus, select:focus {
    background-color: #fdf2f2; 
    border-color: #f78c8c; 
    outline: none; 
}


button[type="submit"] {
    background-color: #f78c8c; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button[type="submit"]:hover {
    background-color: #f78c8c; 
}


legend {
    font-weight: bold; 
    color: #f78c8c; 
    margin-bottom: 10px; 
}

textarea {
    resize: none;
}

iframe {
    max-width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer {
    background-color: #ca6666;
    color: white;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

.main-menu {
    display: none;
}
.burger-icon {
    display: none;
}

#check-menu{
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .burger-icon {
        display: block;
        position: fixed;
        top: 5px;
        right: 5px;
        cursor: pointer;
        z-index: 1000;
    }

    .header-logo {
        margin-bottom: 10px;
    }


    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    
    .menu {
        display: none;
    }

    /* Сначала скроем обычное меню */
    .main-menu {
        visibility: hidden;
        width: 50%;
        height: 100vh; /* 100% высоты видимой области экрана */
        background-color: #3a3535;
        position: fixed; 
        top: 0; 
        left: 50%; 
        transition: right 0.3s ease;
    }

    .main-menu a {
        margin-right: 10px;
        display: block;
        padding: 15px 20px;
        text-align: center;
        color: #fff; /* Цвет текста по вашему выбору */
        text-decoration: none;
    }

    /* Показываем меню при активации чекбокса */
    #check-menu:checked + .main-menu {
        visibility: visible;
        display: block;
    }
    
    .burger-icon::before,
    .burger-icon::after {
    content: '';
    display: block;
    width: 30px;
    height: 15px;
    background-color: #c4afaf;
    transition: transform 0.3s;
    }

    .burger-icon::before {
        transform-origin: 0 0;
    }

    .burger-icon::after {
        transform-origin: 0 100%;
    }

    /* Анимация для иконки бургера при активации чекбокса */
    #check-menu:checked ~ .burger-icon::before {
        transform: rotate(45deg);
        transform-origin: 50% 50%;
    }

    #check-menu:checked ~ .burger-icon::after {
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
    }

}


/* Адаптивная галерея */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 20px); /* 3 столбца на больших экранах */
    margin-bottom: 10px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 1024px) {
    .gallery-item {
        flex: 0 0 calc(50% - 10px); /* 2 столбца на средних экранах */
    }
}

@media screen and (max-width: 768px) {
    .gallery-item {
        flex: 0 0 100%; /* 1 столбец на маленьких экранах */
    }
}


/* Кноп ачки */
.button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 30px 20px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
    position: relative;
    overflow: hidden;
    transform-origin: left;
    transition: transform 0.3s;
  }

  .button a {
    text-decoration: none;
    color: white;
  }
  
  .button::before,
  .button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  .button:nth-child(1) {
    background-color: #3498db;
  }
  
  .button:nth-child(1)::before {
    background: rgba(52, 152, 219, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(1)::after {
    background: rgba(52, 152, 219, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(2) {
    background-color: #e74c3c;
  }
  
  .button:nth-child(2)::before {
    background: rgba(231, 76, 60, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(2)::after {
    background: rgba(231, 76, 60, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(3) {
    background-color: #27ae60;
  }
  
  .button:nth-child(3)::before {
    background: rgba(39, 174, 96, 0.2);

    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(3)::after {
    background: rgba(39, 174, 96, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(4) {
    background-color: #f39c12;
  }
  
  .button:nth-child(4)::before {
    background: rgba(243, 156, 18, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(4)::after {
    background: rgba(243, 156, 18, 0.2);
    transition: transform 0.3s, background 0.3s;
  }
  
  .button:nth-child(1):hover {
    transform: scale(2) translateX(-50px);
    background-color: #2980b9;
  }
  
  .button:nth-child(2):hover {
    transform: scale(1.5) skew(15deg, 15deg);
    background-color: #c0392b;
  }
  
  .button:nth-child(3):hover {
    transform: rotate(25deg) scale(1.05);
    background-color: #229954;
  }
  
  .button:nth-child(4):hover {
    transform: skew(5deg, 5deg) scale(0.5);
    background-color: #d35400;
  }


  /* Уведомления */
  .notification {
    position: relative;
  }
  
  .notification-icon {
    cursor: pointer;
    float: right; /* Устанавливаем плавающее положение справа */
    margin-right: 5px; /* Расстояние от правого края */
    font-size: 24px;
  }
  
  .notification-list {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #e97f7f;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
  }
  
  .notification-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: white;
    text-align: center;
  }
  
  .notification-list li {
    transition: background-color 0.3s;
  }
  
  .notification-list li a {
    color: white;
  }

  .notification-list li:hover {
    background-color: #cc4f4f;
  }
  
  .notification:hover .notification-list {
    display: block;
  }

  /* карточки */

  .card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);   
}

.card-image {
    height: 150px;
    background-size: cover;
}

.card-1 {
    background-image: url('image1.jpg');
}

.card-2 {
    background-image: url('image2.jpg');
}

.card-3 {
    background-image: url('image3.jpg');
}

.card-content {
    padding: 20px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card-content h3 {
    margin: 0;
}

.card-content p {
    margin: 10px 0;
    font-size: 14px;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover::before {
    opacity: 1;
}


/* Видео */

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.video {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.video:hover {
    transform: scale(1.05);
}

.video video {
    width: 100%;
    height: auto;
}

.video-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.video:hover .video-caption {
    transform: translateY(0);
}

.video-caption h3 {
    margin: 0;
    font-size: 18px;
}

.video-caption p {
    margin: 5px 0;
    font-size: 14px;
}