/* Essential CSS rules for site */
:root {
    --backColor: rgb(67, 106, 146);
    --headerColor: rgb(38, 59, 97);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}
html {
    font-family: consolas;
    font-size: 2rem;
}
/* Rules for page */
body {
    background-color: var(--backColor);
    color: white;
}
/* Rules for header */
.mainHeader {
    background-color: var(--headerColor);
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3%;
}
/* Rules for logo */
.logo {
    width:min-content;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}
/* Rules for navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.navBar a {
    color: white;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
.navBar a:hover {
    text-shadow: 0 0 20px white;
    letter-spacing: 0.1rem;
}
/* Rules for main */
/* rules for sections */
/* rules for footer */
footer {
    background-color: var(--headerColor);
}
footer h2 {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
footer .socialContainer {
    display: flex;
    justify-content: center;
    gap: 5%;
}
.socialContainer a {
    color: white;
}
h3 {
    font-size: 30px;
    text-align: center;
}
.market {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 200px;
}
.marketItem {
    background-color: var(--headerColor);
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.5s;
}
.marketItem:hover {
    scale: 1.1;
}
.marketItem:hover h3{
    color: gold;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.marketItem img {
    width: 100%;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
li {
    margin: 5px;
}
.checked {
    color: gold;
}
button {
    width: 100%; 
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.cart {
    display: flex;
    background-color: var(--backColor);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid {
    color: white;
}
.cart p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    font-size: 16px;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}
#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sideBar {
    border: solid;
    width: 40%;
    border-radius: 5px;
    background-color: var(--headerColor);
    padding: 15px;
    text-align: center;
}
.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid;
}
.empty {
    color: white;
    width: 20%;
}
@media (max-width: 768px) {
    * {
        font-size: 0.7rem;
    }
    .logo {
        font-size: 64px;
    }
    footer a i, footer h2{
        font-size: 64px;
    }
    .navBar {
        flex-direction: column;
    }
    .navBar a {
        font-size: 32px;
    }
    .outer {
        margin-top: 200px;
        margin-bottom: 100px;
        flex-direction: column;
    }
    .outer1 {
        margin-top: 100px;
        margin-bottom: 100px;
        flex-direction: column;
    }
    .container {
        width: 350px;
        height: 300px;
    }
    .content2 {
        padding: 0px;
        flex-direction: column;
    }
    .card2 {
        height: 50px;
        margin: 0px;
   } 
   .circle {
    display: none;
   }
   #boxx {
    width: 100px;
    height: 100px;
   }
   .container {
    justify-content: center;
    width: 300px;
   }
   .btns {
    justify-content: center;
   }
   .box {
    margin-left: 100px;
    justify-content: center;
   }
   li i {
    font-size: 8px;
   }
   .marketItem h3 {
    font-size: 16px;
   }
   .market {
    flex-direction:row;
   }
   .market {
    gap: 0px
   }
   #total {
    font-size: 16px;
   }
   h2 {
    font-size: 16px;
   }
   button {
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 8px;
   }
   .sideBar {
    margin: 0;
    width: 100%;
   }
   li {
    margin: 0;
   }
}